body{
    background-color: #18191A;
    
}
.section {
    background-color: white;
    font-family:sans-serif;
}
.information{
	background-color: whitesmoke;
	font-family: sans-serif;
	font-size: 20px;
}
.presentacion{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}
.navigation{
    color: white;
    font-family: sans-serif;
    background-color: #2E2F30;
    text-align: center;
    font-size: 25px;
    
}
.footer{
    color: white;
	font-family: sans-serif;
	text-align: center;
}
html{
    scrollbar-color: blue;
}
.boton {
	-moz-box-shadow:inset -50px -50px 0px -50px #ffffff;
	-webkit-box-shadow:inset -50px -50px 0px -50px #ffffff;
	box-shadow:inset -50px -50px 0px -50px #ffffff;
	background-color:transparent;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.boton:hover {
	background-color:transparent;
}
.boton:active {
	position: relative;
	top:1px;
}
.subtitle {
	color: black;
	background-color: white;
	font-family: sans-serif;
}